services:
  app:
    image: node:20
    container_name: app
    working_dir: /app
    volumes:
      - ./app:/app
    ports:
      - "5173:5173"
    command: ["npm", "run", "dev", "--", "--host"]

  api:
    build:
      context: ./docker/php
    container_name: api
    working_dir: /var/www/html
    volumes:
      - ./api:/var/www/html
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./api:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api

  db:
    image: postgres:15
    container_name: db
    environment:
      - POSTGRES_DB=app
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin-data:/var/lib/pgadmin

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  pgdata:
  pgadmin-data:
